{% extends "base.html" %}

{% block title %}Sign In - Flask App{% endblock %}

{% block content %}
<div class="login-container">

    <!-- LEFT SIDE: LOGO -->
    <div class="login-left">
        <img src="{{ url_for('static', filename='todo.png') }}" alt="logo" class="login-logo">
        <p style="font-family: Pixelify Sans" class="login-p"><b>Your trusty productivity buddy.</b></p>
    </div>

    <!-- RIGHT SIDE: FORM -->
    <div class="login-right">
        <h1 class="login-title">LOGIN</h1>
        <form id="login-form" class="login-form">
            <label>username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <label>password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <button type="submit" class="login-btn">sign in</button>
        </form>
        <p class="extra-text">
            Don't have an account?
            <a href="{{ url_for('auth_bp.register') }}">Sign up</a>
        </p>
        <p class="extra-text">
            <a href="{{ url_for('auth_bp.forgot_password') }}">Forgot your password?</a>
        </p>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    handleFormSubmit('login-form', '/auth/login', 'Login successful!');
</script>
{% endblock %}
